@charset "utf-8";
/* CSS Document */

#blog{
	padding-top: 80px;
}
#blog h3{
	font-size: 3.2rem;
}
#blog .date{
	margin-top : 20px;
}
#blog .text .img {
	margin-top : 20px;
}
#blog .text .img img{
	text-align: center;
	max-width: 500px;
}
#blog .text p{
	font-size: 2.0rem;
	margin-top: 20px;
}
#blog .text a{
	text-decoration: underline;
}

#blog article{
	padding-bottom: 80px;
	margin-bottom: 80px;
	border-bottom: 3px dotted var(--pink);
}

#blog article:last-child{
	border-bottom: none;
}


@media screen and (max-width: 750px){
	
}