@charset "utf-8";
/* CSS Document */

#gallery{
	padding-top: 80px;
}

#gallery ul{
	display: flex;
	flex-wrap: wrap;
}
#gallery ul li{
	width:25%;
	padding: 10px;
}

@media screen and (max-width: 750px){
	#gallery ul li{
		width:50%;
	}
}