@charset "utf-8";
/* CSS Document */



#profile{
	padding-top: 80px;
}
#profile .profile-box{
	display: flex;
}
#profile .profile-item{
	width: 50%;
	padding: 10px;
}
#profile p{
	margin-bottom: 20px;
	font-size: 2.4rem;
}


#skills .skills-box{
	display: flex;
	flex-wrap: wrap;
}
#skills .skills-item{
	width: 50%;
	padding: 10px;
}
#skills .skills-inner{
	padding: 20px;
	height: 100%;
	border: 5px solid var(--pink);
	border-radius: 20px;
	font-size: 2.4rem;
}
#skills .skills-inner .img{
	width: 50px;
	margin: 0 auto 20px;
}
#skills .skills-inner .skills-title{
	text-align: center;
	margin-bottom: 20px;
}
#skills .skills-inner ul li{
	list-style-type: disc;
	margin-left: 1em;
}

@media screen and (max-width: 750px){
	#profile .profile-box{
		flex-direction: column;
	}
	#profile .profile-item{
		width: 100%;
	}
	
	#skills .skills-box{
		flex-direction: column;
	}
	#skills .skills-item{
		width: 100%;
	}
	#skills .skills-inner .text .skill-title{
		font-size: 2.4rem;
	}
}