@charset "UTF-8";

/* reset */
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
}

table{
	border-collapse: collapse;
}

img{
	width: 100%;
	vertical-align: top;
}

html{
	font-size: 62.5%;
	scroll-behavior: smooth;
}

button{
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
}